<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Rocket.Q | Perguntas e repostas</title>

    <!--CSS-->
    <link rel="stylesheet" href="/styles/global.css">
    <link rel="stylesheet" href="/styles/room.css">
    <link rel="stylesheet" href="/styles/modal.css">


    <!--FONTS-->
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans&family=Poppins:wght@400;500;700&display=swap"
        rel="stylesheet">

    <!-- SCRIPT -->
    <script src="/scripts/main.js" defer type="module"></script>
</head>

<body>
    <div id="room" class="content">
        <header>
            <a href="/">
                <img src="/images/logo.svg" alt="Logo Rocket.Q">
            </a>
            <div class="buttons">
                <div class="button outlined copy" onclick="PopUpOn()" onmouseout="sumiu(this)" id="room-id" data-id="<%= roomID %>">
                    #<%= roomID %>
                        <img src="/images/copy.svg" alt="Copiar código da sala">

                        <!-- CRIANDO POP UP COPIADO -->
                        <span class="popuptext" id="myPopup">ID copiado!</span>

                </div>

                <a href="/create-pass" class="button">
                    <img src="/images/users-white.svg" alt="Criar sala">
                    Criar sala
                </a>
            </div>
        </header>

        <main>
            <section id="question-form">
                <h2>Faça sua pergunta</h2>
                <form action="/question/create/<%= roomID %>" method="POST">
                    <label class="sr-only" for-id="question">O que você quer perguntar?</label>
                    <textarea name="question" id="question" placeholder="O que você quer perguntar?"></textarea>

                    <footer>
                        <div>
                            <img src="/images/lock.svg" alt="Esta pergunta é anônima">
                            Esta pergunta é anônima
                        </div>
                        <button>Enviar</button>
                    </footer>
                </form>
            </section>

            <section id="questions">
                <h2 class="sr-only">Perguntas da comunidade</h2>
                <div class="questions">

                    <% if (isNoQuestions){ %>
                        <%- include('parts/no-question') %>
                            <% } %>

                                <% questions.forEach(question=> {%>

                                    <div class="question-wrapper">
                                        <div class="question-content">
                                            <div class="user">
                                                <img src="/images/avatar.svg" alt="Foto do usuário">
                                            </div>

                                            <div class="question">
                                                <p>
                                                    <%= question.title %>
                                                </p>
                                            </div>
                                        </div>
                                        <div class="actions">
                                            <a href="#" class="check" data-id="<%= question.id %>">
                                                <img src="/images/check.svg" alt="Marcar como lido">Marcar como lida
                                            </a>

                                            <a href="#" class="delete" data-id="<%= question.id %>">
                                                <img src="/images/trash.svg" alt="Excluir pergunta"> Excluir
                                            </a>
                                        </div>
                                    </div>

                                    <% }); %>



                                        <% questionsRead.forEach(questionRead=> {%>

                                            <div class="question-wrapper read">
                                                <div class="question-content">
                                                    <div class="user">
                                                        <img src="/images/avatar.svg" alt="Foto do usuário">
                                                    </div>

                                                    <div class="question">
                                                        <p>
                                                            <%= questionRead.title %>
                                                        </p>
                                                    </div>
                                                </div>
                                                <div class="actions">

                                                    <a href="#" class="delete" data-id="<%= questionRead.id %>">
                                                        <img src="/images/trash.svg" alt="Excluir pergunta"> Excluir
                                                    </a>
                                                </div>
                                            </div>
                                            <% }); %>


                </div>
            </section>
        </main>
    </div>

    <!--  MODAL   -->

    <div class="modal-wrapper">
        <div class="modal">
            <h2>Excluir</h2>
            <p>Tem certeza que você deseja excluir esta pergunta?</p>

            <form action="#" method="POST">
                <label class="sr-only" for-id="password">Digite sua senha admin aqui</label>
                <input type="password" id="password" name="password" placeholder="Digite sua senha admin aqui">

                <div class="buttons">
                    <div class="button gray cancel">Cancelar</div>
                    <button class="red">Sim, excluir</button>
                </div>
            </form>
        </div>

    </div>


    <script>

    </script>
    <!--   FIM DA MODAL   -->

    <!-- BOTÃO DE COPIAR ID-ROOM -->
    <div class="room-inv">
        <input type="text" name="id-inv" id="id-inv" class="sr-only" value="<%= roomID %>">
    </div>

    <!-- Função Clique > copiar e popup -->

    <script>
        function PopUpOn() {

            //pegar o texto
            const copyText = document.getElementById('id-inv')

            //selecionar o value do input
            copyText.select()
            copyText.setSelectionRange(0, 99999) //otimização para mobile

            //copiar texto
            document.execCommand("copy")

            // quando clicar, abre a popup

            var popup = document.getElementById("myPopup");
            popup.classList.toggle("show");
            }
    </script>

</body>

</html>